#
# Copyright (c) 2017-2018 Bitprim Inc.
#
# This file is part of Bitprim.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

branches:
  only:
    - master
    # - /^v\d+\.\d+\.\d+$/
    - dev
    - /^release-\d+\.\d+\.\d+$/
    - /^hotfix-\d+\.\d+\.\d+$/
    - /^feature-ci-.+$/
    - /^feature_ci_.+$/
    - /^feature-appveyor-.+$/
    - /^feature_appveyor_.+$/

build: false

environment:
    PYTHON: "C:\\Python27"
    PYTHON_VERSION: "2.7.8"
    PYTHON_ARCH: "32"

# init:
#   - ps: Write-Host "common init script"

#   - ps: |
#       if ($Env:APPVEYOR_REPO_BRANCH -ceq "master" -And [string]::IsNullOrEmpty($Env:APPVEYOR_REPO_TAG_NAME)) {
#         Write-Host "branch is master without tags, exiting"
#         Exit-AppveyorBuild
#       }

#       Note(fernando): It is implemented natively in Appveyor...
#       if ($Env:APPVEYOR_REPO_COMMIT_MESSAGE -like "*\[skip appveyor\]*") {
#         Write-Host "[skip appveyor] detected in commit message, exiting"
#         Exit-AppveyorBuild
#       }

install:
  - set PATH=%PATH%;%PYTHON%/Scripts/
  - pip.exe install conan --upgrade
  # - pip.exe install conan==1.0.0b5   #Fixed Beta version...
  - pip.exe install conan_package_tools
  - pip.exe install cpuid --upgrade
  - conan user # It creates the conan data directory

test_script:
  - git submodule init
  # - git submodule update --remote
  - git submodule update
  # - git fetch --unshallow

  - ps: |
      $a = python ci_utils/set_envvars_and_files.py
      Write-Host $a
      Invoke-Expression $a

  - python build.py


for:
  -
    branches:
      only:
        - /^(release|hotfix|dev|feature).*$/    #Avoid master
    environment:
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      CONAN_VISUAL_VERSIONS: 15
      CONAN_VISUAL_RUNTIMES: MT
      # BITPRIM_RUN_TESTS: true
      BITPRIM_CI_CURRENCY: BCH
      VS150COMNTOOLS: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\Common7\\Tools\\"
  -
    branches:
      only:
        - /^(release|hotfix|dev|feature).*$/    #Avoid master
    environment:
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      CONAN_VISUAL_VERSIONS: 15
      CONAN_VISUAL_RUNTIMES: MT
      # BITPRIM_RUN_TESTS: true
      BITPRIM_CI_CURRENCY: BTC
      VS150COMNTOOLS: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\Common7\\Tools\\"
  -
    branches:
      only:
        - /^(release|hotfix).+$/    #Just releases
    environment:
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      CONAN_VISUAL_VERSIONS: 15
      CONAN_VISUAL_RUNTIMES: MD
      BITPRIM_CI_CURRENCY: BCH
      # BITPRIM_RUN_TESTS: true
      VS150COMNTOOLS: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\Common7\\Tools\\"
  -
    branches:
      only:
        - /^(release|hotfix).+$/    #Just releases
    environment:
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      CONAN_VISUAL_VERSIONS: 15
      CONAN_VISUAL_RUNTIMES: MD
      BITPRIM_CI_CURRENCY: BTC
      # BITPRIM_RUN_TESTS: true
      VS150COMNTOOLS: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\Common7\\Tools\\"
  -
    branches:
      only:
        - /^(release|hotfix).+$/    #Just releases
    environment:
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      CONAN_VISUAL_VERSIONS: 14
      CONAN_VISUAL_RUNTIMES: MT
      BITPRIM_CI_CURRENCY: BCH
  -
    branches:
      only:
        - /^(release|hotfix).+$/    #Just releases
    environment:
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      CONAN_VISUAL_VERSIONS: 14
      CONAN_VISUAL_RUNTIMES: MT
      BITPRIM_CI_CURRENCY: BTC
  -
    branches:
      only:
        - /^(release|hotfix).+$/    #Just releases
    environment:
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      CONAN_VISUAL_VERSIONS: 14
      CONAN_VISUAL_RUNTIMES: MD
      BITPRIM_CI_CURRENCY: BCH
  -
    branches:
      only:
        - /^(release|hotfix).+$/    #Just releases
    environment:
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      CONAN_VISUAL_VERSIONS: 14
      CONAN_VISUAL_RUNTIMES: MD
      BITPRIM_CI_CURRENCY: BTC
  -
    branches:
      only:
        - /^(release|hotfix).+$/    #Just releases
    environment:
      MINGW_CONFIGURATIONS: "8@x86_64@seh@posix"
      BITPRIM_CI_CURRENCY: BCH
  -
    branches:
      only:
        - /^(release|hotfix).+$/    #Just releases
    environment:
      MINGW_CONFIGURATIONS: "8@x86_64@seh@posix"
      BITPRIM_CI_CURRENCY: BTC
  -
    branches:
      only:
        - /^(release|hotfix).+$/    #Just releases
    environment:
      MINGW_CONFIGURATIONS: "7@x86_64@seh@posix"
      BITPRIM_CI_CURRENCY: BCH
  -
    branches:
      only:
        - /^(release|hotfix).+$/    #Just releases
    environment:
      MINGW_CONFIGURATIONS: "7@x86_64@seh@posix"
      BITPRIM_CI_CURRENCY: BTC
  -
    branches:
      only:
        - /^(release|hotfix).+$/    #Just releases
    environment:
      MINGW_CONFIGURATIONS: "6@x86_64@seh@posix"
      BITPRIM_CI_CURRENCY: BCH
  -
    branches:
      only:
        - /^(release|hotfix).+$/    #Just releases
    environment:
      MINGW_CONFIGURATIONS: "6@x86_64@seh@posix"
      BITPRIM_CI_CURRENCY: BTC
  -
    branches:
      only:
        - /^(release|hotfix).+$/    #Just releases
    environment:
      MINGW_CONFIGURATIONS: "5@x86_64@seh@posix"
      BITPRIM_CI_CURRENCY: BCH
  -
    branches:
      only:
        - /^(release|hotfix).+$/    #Just releases
    environment:
      MINGW_CONFIGURATIONS: "5@x86_64@seh@posix"
      BITPRIM_CI_CURRENCY: BTC
  -
    branches:
      only:
        - master
    test_script:
      - echo "Stable packages are published in Release branches"
    install: 
      - echo "Stable packages are published in Release branches"


# MINGW_CONFIGURATIONS: "4.9@x86_64@seh@posix" 

# matrix:
#   fast_finish: true     # set this flag to immediately finish build once one of the jobs fails.

