cmake-build-debug/
cmake-build-release/
.idea/
build/
test_console.dir/
x64/

conanfile.pyc

python_console/blockchain/
python_console/debug.log
python_console/error.log
python_console/archive/
python_console/hosts.cache

node_console/archive/
node_console/blockchain/
node_console/hosts.cache
node_console/debug.log
node_console/error.log
node_console/node_modules/

docs/html
docs/latex

.vscode/
__pycache__/
mypkg/
*.sh
blockchain/
build_release/
.DS_Store
CMakeUserPresets.json
