#
# Copyright (c) 2017-2018 Bitprim Inc.
#
# This file is part of Bitprim.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

branches:
  only:
  - master
  # - /^v\d+\.\d+\.\d+$/
  - dev
  - /^release-\d+\.\d+\.\d+$/
  - /^hotfix-\d+\.\d+\.\d+$/
  - /^feature-ci-.+$/
  - /^feature_ci_.+$/
  - /^feature-travis-.+$/
  - /^feature_travis_.+$/

linux: &linux
   os: linux
   sudo: required
   language: python
   python: "3.6"
   services:
     - docker

osx: &osx
   os: osx
   language: generic

before_install:
  - |
    if [[ "${TRAVIS_COMMIT_MESSAGE}" = *"[skip travis]"* ]]; then
      echo "[skip travis] detected in commit message, exiting"
      travis_terminate 0
    fi

install:
  - cd ${TRAVIS_BUILD_DIR}

  - |
    if [[ "${CHECK_FORMATTING}" != "true" ]]; then
      chmod +x ci_utils/.travis/install.sh
      ./ci_utils/.travis/install.sh
    fi    

script:
  - git fetch --unshallow

  # #TODO(fernando): Use lasote/conanclang50 for checking formating and other clang-tools related
  # - |
  #   if [[ "${CHECK_FORMATTING}" == "true" ]]; then
  #     cd ${TRAVIS_BUILD_DIR}
  #     chmod a+x .travis/check_format.sh
  #     /usr/bin/docker run --rm -ti -v ${TRAVIS_BUILD_DIR}:/home/conan/project \
  #                                  -v ${TRAVIS_BUILD_DIR}/.travis/check_format.sh:/tmp/check_format.sh lasote/conanclang40 \
  #                                  /bin/bash \
  #                                  -c /tmp/check_format.sh

  #   fi

  - |
    if [[ "${CHECK_FORMATTING}" != "true" ]]; then
      cd ${TRAVIS_BUILD_DIR}
      chmod +x ci_utils/.travis/run.sh
      ./ci_utils/.travis/run.sh
    fi

jobs:
  include:

# Static Checks ------------------------------------------------------
    - stage: static checks
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_CLANG_VERSIONS=6.0 CONAN_DOCKER_IMAGE=lasote/conanclang60
      # if: branch =~ /^(release|hotfix).+$/
      if: branch =~ /^(release|hotfix|dev|feature).*$/    #Avoid master
      install: skip
      script: echo "Running checks (1)"
        # - cd ${TRAVIS_BUILD_DIR}
        # - chmod a+x .travis/check_format.sh
        # - /usr/bin/docker run --rm -ti -v ${TRAVIS_BUILD_DIR}:/home/conan/project \
        #                             -v ${TRAVIS_BUILD_DIR}/.travis/check_format.sh:/tmp/check_format.sh lasote/conanclang60 \
        #                             /bin/bash \
        #                             -c /tmp/check_format.sh

# Builds ------------------------------------------------------
    # Linux, GCC, libstdc++ ------------------------------------------------------
    - stage: build and upload binaries
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_GCC_VERSIONS=8 CONAN_DOCKER_IMAGE=lasote/conangcc8
           BITPRIM_CI_CURRENCY=BCH
      if: branch =~ /^(release|hotfix).+$/    #Just releases
    - stage: build and upload binaries
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_GCC_VERSIONS=8 CONAN_DOCKER_IMAGE=lasote/conangcc8
           BITPRIM_CI_CURRENCY=BTC
      if: branch =~ /^(release|hotfix).+$/    #Just releases

    - stage: build and upload binaries
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_GCC_VERSIONS=7 CONAN_DOCKER_IMAGE=lasote/conangcc7
           BITPRIM_CI_CURRENCY=BCH
           BITPRIM_RUN_TESTS=true
      if: branch =~ /^(release|hotfix|dev|feature).*$/    #Avoid master
    - stage: build and upload binaries
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_GCC_VERSIONS=7 CONAN_DOCKER_IMAGE=lasote/conangcc7
           BITPRIM_CI_CURRENCY=BTC
           BITPRIM_RUN_TESTS=true
      if: branch =~ /^(release|hotfix|dev|feature).*$/    #Avoid master

    - stage: build and upload binaries
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_GCC_VERSIONS=6 CONAN_DOCKER_IMAGE=lasote/conangcc6
           BITPRIM_CI_CURRENCY=BCH
      if: branch =~ /^(release|hotfix).+$/    #Just releases
    - stage: build and upload binaries
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_GCC_VERSIONS=6 CONAN_DOCKER_IMAGE=lasote/conangcc6
           BITPRIM_CI_CURRENCY=BTC
      if: branch =~ /^(release|hotfix).+$/    #Just releases

    - stage: build and upload binaries
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_GCC_VERSIONS=5 CONAN_DOCKER_IMAGE=lasote/conangcc5
           BITPRIM_CI_CURRENCY=BCH
      if: branch =~ /^(release|hotfix).+$/    #Just releases
    - stage: build and upload binaries
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_GCC_VERSIONS=5 CONAN_DOCKER_IMAGE=lasote/conangcc5
           BITPRIM_CI_CURRENCY=BTC
      if: branch =~ /^(release|hotfix).+$/    #Just releases


    # - stage: build and upload binaries
    #   os: linux
    #   sudo: required
    #   language: python
    #   python: "3.6"
    #   services:
    #     - docker
    #   env: CONAN_GCC_VERSIONS=4.9 CONAN_DOCKER_IMAGE=lasote/conangcc49
    #   if: branch =~ /^(release|hotfix|dev|feature).*$/    #Avoid master

    # Linux, Clang, libstdc++ ----------------------------------------------------
    - stage: build and upload binaries
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_CLANG_VERSIONS=6.0 CONAN_DOCKER_IMAGE=lasote/conanclang60
           BITPRIM_CI_CURRENCY=BCH
      if: branch =~ /^(release|hotfix|dev|feature).*$/    #Avoid master
    - stage: build and upload binaries
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_CLANG_VERSIONS=6.0 CONAN_DOCKER_IMAGE=lasote/conanclang60
           BITPRIM_CI_CURRENCY=BTC
      if: branch =~ /^(release|hotfix|dev|feature).*$/    #Avoid master

    - stage: build and upload binaries
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_CLANG_VERSIONS=5.0 CONAN_DOCKER_IMAGE=lasote/conanclang50
           BITPRIM_CI_CURRENCY=BCH
      if: branch =~ /^(release|hotfix).+$/    #Just releases
    - stage: build and upload binaries
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_CLANG_VERSIONS=5.0 CONAN_DOCKER_IMAGE=lasote/conanclang50
           BITPRIM_CI_CURRENCY=BTC
      if: branch =~ /^(release|hotfix).+$/    #Just releases

    - stage: build and upload binaries
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_CLANG_VERSIONS=4.0 CONAN_DOCKER_IMAGE=lasote/conanclang40
           BITPRIM_CI_CURRENCY=BCH
      if: branch =~ /^(release|hotfix).+$/    #Just releases
    - stage: build and upload binaries
      os: linux
      sudo: required
      language: python
      python: "3.6"
      services:
        - docker
      env: CONAN_CLANG_VERSIONS=4.0 CONAN_DOCKER_IMAGE=lasote/conanclang40
           BITPRIM_CI_CURRENCY=BTC
      if: branch =~ /^(release|hotfix).+$/    #Just releases

    # - stage: build and upload binaries
    #   os: linux
    #   sudo: required
    #   language: python
    #   python: "3.6"
    #   services:
    #     - docker
    #   env: CONAN_CLANG_VERSIONS=3.9 CONAN_DOCKER_IMAGE=lasote/conanclang39

    # macOS, apple-Clang, libc++ -------------------------------------------------
    - stage: build and upload binaries
      os: osx
      language: generic
      osx_image: xcode9
      env: CONAN_APPLE_CLANG_VERSIONS=9.0 
           BITPRIM_RUN_TESTS=true
           BITPRIM_CI_CURRENCY=BCH
      if: branch =~ /^(release|hotfix).+$/    #Just releases
    - stage: build and upload binaries
      os: osx
      language: generic
      osx_image: xcode9
      env: CONAN_APPLE_CLANG_VERSIONS=9.0 
           BITPRIM_RUN_TESTS=true
           BITPRIM_CI_CURRENCY=BTC
      if: branch =~ /^(release|hotfix).+$/    #Just releases

    - stage: build and upload binaries
      os: osx
      language: generic
      osx_image: xcode9
      env: CONAN_APPLE_CLANG_VERSIONS=9.0 
           BITPRIM_CI_CURRENCY=BCH
      if: branch =~ /^(feature|dev).*$/       #Just development
    - stage: build and upload binaries
      os: osx
      language: generic
      osx_image: xcode9
      env: CONAN_APPLE_CLANG_VERSIONS=9.0 
           BITPRIM_CI_CURRENCY=BTC
      if: branch =~ /^(feature|dev).*$/       #Just development


    - stage: build and upload binaries
      os: osx
      language: generic
      osx_image: xcode8.3         
      env: CONAN_APPLE_CLANG_VERSIONS=8.1
           BITPRIM_CI_CURRENCY=BCH
      if: branch =~ /^(release|hotfix).+$/    #Just releases
    - stage: build and upload binaries
      os: osx
      language: generic
      osx_image: xcode8.3         
      env: CONAN_APPLE_CLANG_VERSIONS=8.1
           BITPRIM_CI_CURRENCY=BTC
      if: branch =~ /^(release|hotfix).+$/    #Just releases

    - stage: build and upload binaries
      os: osx
      language: generic
      osx_image: xcode7.3
      env: CONAN_APPLE_CLANG_VERSIONS=7.3
           BITPRIM_CI_CURRENCY=BCH
      if: branch =~ /^(release|hotfix).+$/    #Just releases
    - stage: build and upload binaries
      os: osx
      language: generic
      osx_image: xcode7.3
      env: CONAN_APPLE_CLANG_VERSIONS=7.3
           BITPRIM_CI_CURRENCY=BTC
      if: branch =~ /^(release|hotfix).+$/    #Just releases

# Upload Aliases -----------------------------------------------------
    - stage: upload aliases
      os: linux
      sudo: required
      language: python
      python: "3.6"
      # install: skip
      if: branch =~ /^(release|hotfix|dev|feature).*$/    #Avoid master
      script:
        - |
          cd ${TRAVIS_BUILD_DIR}
          git fetch --unshallow
          REPO_NAME=$(echo $TRAVIS_REPO_SLUG| cut -d'/' -f 2)
          echo $REPO_NAME

        - eval $(python ci_utils/set_envvars_and_files.py)
        #TODO(fernando): configure the remote and user using environment variables
        - conan remote add bitprim_temp https://api.bintray.com/conan/bitprim/bitprim
        - conan user
        - conan user ${CONAN_LOGIN_USERNAME} -r bitprim_temp -p ${CONAN_PASSWORD}
        - conan user
        - conan alias "${REPO_NAME}/0.X@bitprim/${BITPRIM_CONAN_CHANNEL}" "${REPO_NAME}/${BITPRIM_CONAN_VERSION}@bitprim/${BITPRIM_CONAN_CHANNEL}"
        - conan upload "${REPO_NAME}/0.X@bitprim/${BITPRIM_CONAN_CHANNEL}" --all -r bitprim_temp

# Push to repos ------------------------------------------------------
    - stage: push to repos
      install: skip
      script:
          - chmod +x .travis/push_other_repo.sh
          - ./.travis/push_other_repo.sh
      if: branch =~ /^(dev|feature).*$/

# Dummy for master ------------------------------------------------------
    - stage: build and upload binaries
      install: 
        - echo "Stable packages are published in Release branches"
      script:
        - echo "Stable packages are published in Release branches"
      if: branch =~ /^master$/


# # Integration Tests ------------------------------------------------------
#     - stage: integration tests
#       install: skip
#       script: echo "Running integration tests (Guille)"


    # - stage: deploy to staging
    #   install: skip
    #   script: skip
    # - stage: test staging
    #   install: skip
    #   script: 'curl http://sf-stages-staging.herokuapp.com'
    # - stage: deploy to production
    #   install: skip
    #   script: skip
    # - stage: test production
    #   install: skip
    #   script: 'curl http://sf-stages-production.herokuapp.com'

notifications:
  email: false
  webhooks:
    urls: https://webhooks.gitter.im/e/a19dd2b03bf676d2b622
    on_success: change
    on_failure: always

